In [2]:
import pandas as pd

### read

In [9]:
dicts = []
dicts.append(pd.read_csv('ru.dic.old', header = None))
dicts[0].columns = ['word']
dicts[0]

                       word
0                      а a0
1                      а a1
2                 а-а a0 a1
3            а-а-а a0 a0 a1
4       а-а-а-а a0 a0 a0 a1
...                     ...
720763  ёшкин o1 sh kj i0 n
720764      ёще j o1 sch e0
720765      ёщё j o1 sch o1
720766              ёъ j o1
720767         ёё j o1 j o1

[720768 rows x 1 columns]

In [10]:
dicts.append(pd.read_csv('words.dic.new', header = None))
dicts[1].columns = ['word']
dicts[1]

                                  word
0                            -ал\ta0 l
1                        -ещ\tj e0 sch
2               -нибудь\tnj i0 b u0 dj
3       а-а-а-а-а-а\ta0 a0 a0 a0 a0 a0
4                        а-ай\ta0 a0 j
...                                ...
83746             яшьли\tj a0 sh lj i0
83747               яшэт\tj a0 sh e0 t
83748    ященков\tj a0 sch e0 n k o0 v
83749                   яэс\tj a0 e0 s
83750  яяяяя\tj a0 j a0 j a0 j a0 j a0

[83751 rows x 1 columns]

In [12]:
a_not_in_b = dicts[0][~dicts[0].word.isin(dicts[1].word)]
len(a_not_in_b)

720768

In [13]:
b_not_in_a = dicts[1][~dicts[1].word.isin(dicts[0].word)]
len(b_not_in_a)

83751

### merge

In [17]:
merged = pd.concat([dicts[0], dicts[1]], axis=0)

In [18]:
merged.sort_values(by=['word'], inplace = True)

In [19]:
merged

                          word
0                    -ал\ta0 l
1                -ещ\tj e0 sch
2       -нибудь\tnj i0 b u0 dj
0                         а a0
1                         а a1
...                        ...
720763     ёшкин o1 sh kj i0 n
720764         ёще j o1 sch e0
720765         ёщё j o1 sch o1
720766                 ёъ j o1
720767            ёё j o1 j o1

[804519 rows x 1 columns]

In [39]:
merged.to_csv('ru.dic.merged', header=False, index = False)