In [1]:
import pandas as pd

In [2]:
words = []
for i in range(2):
    words.append(pd.read_csv('words_'+str(i)+'.txt', sep=" "))
    words[i].columns = ['word', 'id']

In [3]:
a_not_in_b = words[0][~words[0].word.isin(words[1].word)]
len(a_not_in_b)

2

In [4]:
a_not_in_b

               word      id
567389    смотретьа  567390
567390  смотретькак  567391

In [5]:
b_not_in_a = words[1][~words[1].word.isin(words[0].word)]
len(b_not_in_a)

83748

In [6]:
b_not_in_a

               word      id
7       а-а-а-а-а-а       8
8              а-ай       9
9              а-ах      10
12         а-валюта      13
13         а-валюте      14
...             ...     ...
792853         ёпте  792854
792854       ёптиль  792855
792855         ёпты  792856
792858         ёптэ  792859
792870       ёрзнув  792871

[83748 rows x 2 columns]

In [7]:
b_not_in_a.to_csv('words_new.txt', header=False, index = False, sep=' ')

In [8]:
b_not_in_a.drop(['id'], axis=1, inplace=True)

/home/alex/.local/lib/python3.8/site-packages/pandas/core/frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [10]:
b_not_in_a.to_csv('corpus.txt', header=False, index = False)